<%- include('parts/header.ejs')%>
    
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="hero d-flex align-items-center section-bg">
        <div class="container">
          <div class="row justify-content-between gy-5">
            <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
              <h2 data-aos="fade-up">Develop your knowledge <br>Valuable books !</h2>
              <p data-aos="fade-up" data-aos-delay="100">Sed autem laudantium dolores. Voluptatem itaque ea consequatur eveniet. Eum quas beatae cumque eum quaerat.</p>
              <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
                <a href="#book-a-table" class="btn-book-a-table">buy now </a>
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
              </div>
            </div>
            <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
              <img src="images/library3.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="300">
            </div>
          </div>
        </div>
      </section><!-- End Hero Section -->
    

      


      
      <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

        <div class="tab-pane fade active show" id="menu-starters">

         


         
           
          <div class="row gy-2">
            
            <% for (let b of books) { %>

            <div class="col-lg-4 menu-item">
              <a href="images/<%= b.image %>" class="glightbox"><img style="height: 400px;margin: 100px;" src="images/<%= b.image %>" class="menu-img img-fluid" alt=""></a>
              <h4 style="margin-left: 100px;"><%= b.title %></h4>
              <p  class="ingredients" style="color: rgb(84, 84, 85);margin-left: 100px;">
                <%= b.description %>
              </p>
              <p class="price" style="margin-left: 100px;color: green;font-weight: bold;">
                $<%= b.price %>
              </p>
             
            </div><!-- Menu Item -->
            <% } %>
          </div>

          



        </div><!-- End Starter Menu Content -->


</div>




      <main id="main">
    
      
    
        <!-- ======= Why Us Section ======= -->
        <section id="why-us" class="why-us section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="row gy-4">
    
              <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">
                <div class="why-box">
                  <h3>Why Choose Yummy?</h3>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit
                    Asperiores dolores sed et. Tenetur quia eos. Autem tempore quibusdam vel necessitatibus optio ad corporis.
                  </p>
                  <div class="text-center">
                    <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                  </div>
                </div>
              </div><!-- End Why Box -->
    
              <div class="col-lg-8 d-flex align-items-center">
                <div class="row gy-4">
    
                  <div class="col-xl-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                      <i class="bi bi-clipboard-data"></i>
                      <h4>Corporis voluptates officia eiusmod</h4>
                      <p>Consequuntur sunt aut quasi enim aliquam quae harum pariatur laboris nisi ut aliquip</p>
                    </div>
                  </div><!-- End Icon Box -->
    
                  <div class="col-xl-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                      <i class="bi bi-gem"></i>
                      <h4>Ullamco laboris ladore pan</h4>
                      <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt</p>
                    </div>
                  </div><!-- End Icon Box -->
    
                  <div class="col-xl-4" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon-box d-flex flex-column justify-content-center align-items-center">
                      <i class="bi bi-inboxes"></i>
                      <h4>Labore consequatur incidid dolore</h4>
                      <p>Aut suscipit aut cum nemo deleniti aut omnis. Doloribus ut maiores omnis facere</p>
                    </div>
                  </div><!-- End Icon Box -->
    
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Why Us Section -->
    
    
       
    
       
    
      
    
       
    
          
    
      
    
       
    
      </main><!-- End #main -->
    <%- include('parts/footer.ejs')%>